<div class="row" ng-controller="LandingCtrl">
  <div class="col s12 m6 offset-m3">
    <div class="card-panel grey lighten-5 z-depth-1 hoverable" style="text-align:center">
      <div class="card-image">
        <img src="images/logo-color.png" style="max-width:250px">
        <h2 class="card-title">uMaster</h2>
      </div>
      <p class="flow-text">
        Be the master of your devices
      </p>
      <p>
        <button class="waves-effect waves-light btn-large" ng-click="signin()">Become uMaster</button>
      </p>

      <!--p class="flow-text">Create activities on your PC that can be activated remotely!</p-->
    </div>
  </div>

</div>
