<ng-include ng-show="loggedin" src="'views/navbar.html'"></ng-include>

<div ng-show="!loggedin && loading" class="row" style="text-align:center">
  <h1><i class="fa fa-circle-o-notch fa-spin"></i></h1>
</div>

<ng-include ng-if="!loggedin && !loading" src="'views/landing.html'"></ng-include>
<ng-include ng-if="loggedin && !loading" src="'views/dashboard.html'"></ng-include>


<footer class="footer" style="width:100%">
    <p style="font-size:80%;">Developed by Răzvan Ilin | razvanilin.com | uMaster - {{clientVersion}} |
      <a href="#termsModal" modal>Terms & Conditions</a>
    </p>
</footer>
