<ng-include ng-show="loggedin" src="'views/navbar.html'"></ng-include>
<div class="row">
  <div class="col s6 offset-s3">
    <div ng-show="!loggedin && !loading" class="card-panel grey lighten-5 z-depth-1 hoverable" style="text-align:center">
      <div class="card-image">
        <img src="images/logo-color.png" style="max-width:250px">
        <h2 class="card-title">uMaster</h2>
      </div>
      <p class="flow-text">
        Be the master of your devices
      </p>
      <p>
        <button class="waves-effect waves-light btn-large" ng-click="signin()">Become uMaster</button>
      </p>

      <!--p class="flow-text">Create activities on your PC that can be activated remotely!</p-->
    </div>
  </div>

</div>

<div ng-show="!loggedin && loading" class="row" style="text-align:center">
  <h1><i class="fa fa-circle-o-notch fa-spin"></i></h1>
</div>

  <!-- All scripts section -->
  <div ng-show="loggedin" class="row">
    <div ng-repeat="scr in scripts">
      <div class="clearfix" ng-if="$index % 3 == 0"></div>
      <div class="col s4">
        <div class="card grey lighten-5 z-depth-1 hoverable">
          <div class="card-content">
            <span class="card-title">
              <a href="#{{scr._id}}" class="grey-text text-darken-3" modal>{{scr.name}}</a>
            </span>
            <p class="truncate">
              <a href="#{{scr._id}}" class="grey-text text-darken-1" modal>{{scr.description}}</a>
            </p>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light" href='#activityModal' modal ng-click="editScript(scr)"><i class="fa fa-pencil-square-o text-success"></i> Edit</a>
            <a class="waves-effect waves-light" ng-click="deleteScript(scr.name)"><i class="fa fa-trash text-danger"></i> Remove</a>
          </div>
        </div>
      </div>

      <!-- Description modal -->
      <div id="{{scr._id}}" class="modal">
        <div class="modal-content">
          <h3>{{scr.name}}</h3>
          <p class="flow-text">{{scr.description}}</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>

    </div>
  </div>

  <!-- Add new script section -->
  <div id="activityModal" class="modal">
    <div class="modal-content">
      <p class="flow-text">Create an activity</p>
      <form role="form" class="form-horizontal">

        <div class="row">
          <div class="input-field">
    				<label ng-show="!input.selectedActivity" for="inputType">Select Activity</label>
  					<select id="inputType" ng-model="input.selectedActivity" ng-change="selectScriptFile()" material-select watch>
              <option ng-repeat="activity in localScripts" value="{{$index}}" ng-selected="input.selectedActivity == $index">{{activity.name}}</option>
            </select>
    			</div>
        </div>

        <div class="row">
    			<div class="input-field">
    				<label for="inputName">Activity Name*</label>
    				<input type="text" ng-model="script.name" class="validate" id="inputName" required>
    			</div>
        </div>

        <div class="row">
          <div ng-show="localScripts[input.selectedActivity].args.type == 'text'" class="input-field">
    				<input type="text" ng-model="script.args" class="form-control" id="inputArgs">
            <label for="inputArgs">{{localScripts[input.selectedActivity].args.label}}</label>
          </div>

          <div ng-show="localScripts[input.selectedActivity].args.type == 'file'" class="input-field">
            <div class="file-field">
              <div class="btn">
                <span>{{localScripts[input.selectedActivity].args.label}}</span>
                <input type="file" ng-model="script.args" class="file-input" id="inputArgs" onchange="angular.element(this).scope().file_changed(this)">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
    			<div class="input-field top-buffer-sm">
    				<label for="inputDescription">Activity Description</label>
    					<textarea ng-model="script.description" class="materialize-textarea" id="inputDescription" />
    			</div>
        </div>

  		</form>
    </div>
    <div class="modal-footer">
      <div class="col s6"><button type="submit" class="waves-effect waves-light btn modal-action modal-close" ng-click="addScript()">Save <i ng-show="loading" class="fa fa-circle-o-notch fa-spin"></i></button></div>
      <div class="col s6"><button class="waves-effect waves-light btn modal-action modal-close btn-flat" ng-click="prepareScript()">Cancel</button></div>
    </div>

  </div>

</div>

<div ng-show="loggedin" class="fixed-action-btn vertical" style="bottom: 60px; right: 24px;">
  <a class="btn-floating btn-large">
    <img ng-src="{{profile.picture}}" class="circle" style="max-height:60px;">
  </a>
  <ul>
    <li><a tooltipped class="btn-floating red" data-position="left" data-delay="50" data-tooltip="Sign out" ng-click="logout()">
      <i class="material-icons">power_settings_new</i></a></li>
    <li><a tooltipped class="btn-floating blue" data-position="left" data-delay="50" data-tooltip="Account settings">
      <i class="material-icons">settings</i></a></li>
    <li><a href='#activityModal' modal ng-click="prepareScript()" class="btn-floating" >
      <i tooltipped data-position="left" data-delay="50" data-tooltip="Add a new activity" class="material-icons">add</i></a></li>
  </ul>
</div>

<footer class="footer" style="width:100%">
    <p style="font-size:80%;">Developed by  <a href="http://razvanilin.com/">Răzvan Ilin</a> | uMaster </p>
</footer>
