<div class="row" ng-controller="RegisterActivityCtrl">
  <div class="col s12 m4">
    <div class="card grey lighten-5 z-depth-1 hoverable">
      <div class="card-content">
        <span class="card-title">
          Register a new activity
        </span>
        <p>
          In this menu you are able to register new activities with the application.
        </p>
        <p>
          Write a new script in your favourite editor and then use this interface to plu it in the application to use it as a template.
        </p>
      </div>
    </div>
  </div>
</div>
